html {
    background-color: rgb(40, 38, 46);
    color: white;
    font-family: 'Cascadia Code', 'Consolas', monospace;
}

.templated {
    color: rgb(255, 178, 78);
}

.sender {
    color: #c273ff;
}

.container {
    padding: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    margin: 8px 0 8px 0;
}